<kendo-appbar [position]="'top'" *ngIf="!hideNav">
  <kendo-appbar-section>
    <button class="k-button k-button-clear menu-btn" (click)="toggle()">
      <kendo-icon [name]="'menu'" style="color: #fff;"></kendo-icon>
    </button>
  </kendo-appbar-section>
  <kendo-appbar-section>
    <h1 class="title">My Work</h1>
  </kendo-appbar-section>
  <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <kendo-appbar-section>
   <div> 
    <kendo-avatar [imageSrc]="kendokaAvatar" [shape]="'circle'" [width]="'40px'" [height]="'40px'"  routerLink="/settings"></kendo-avatar>
    <!-- <kendo-menu [items]="items1" [openOnClick]="true" (select)="onSelectMenu($event)"> -->
 <!-- </kendo-menu> -->
   </div>
  </kendo-appbar-section>
</kendo-appbar>
<kendo-drawer-container>
  <kendo-drawer #drawer [items]="items" [mode]="'push'" [mini]="true" [expanded]="false" (select)="onSelect($event)"
    id="drawer" [ngClass]="active  ? 'active' : ''" *ngIf="!hideNav">
    <ng-template kendoDrawerFooterTemplate>
      <div class="expand">
        <button kendoButton class="k-button k-button-outline" (click)="drawer.toggle()">
          <span class="k-icon k-i-arrow-chevron-right" *ngIf="!drawer.expanded"></span>
          <span class="k-icon k-i-arrow-chevron-left" *ngIf="drawer.expanded"></span>
        </button>
      </div>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content>
    <router-outlet></router-outlet>
  </kendo-drawer-content>
</kendo-drawer-container>