/* app bar and menu styles */
kendo-appbar {
  margin: 0px;
  min-height: 10vh;
  background: #FFB435 !important;
  color: #fff;
}
.title {
    font-size: 18px;
    margin: 0;
}
kendo-badge-container {
    margin-right: 8px;
}
ul {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    margin: 0 9px;
}
li:hover {
    cursor: pointer;
    color: #D6002F;
}
.actions .k-button {
    padding: 0;
}
.expand {
    position: absolute;
    bottom: 20px;
    margin-left: 14px;
}
.menu-btn {
    display: none;
}
kendo-avatar {
    margin-right: 5px;
}
@media screen and (max-width: 920px) {
  #drawer {
    position: absolute;
    left: 0px;
    height: 90vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 10000;
  }
  .active {
    transform: translateX(0%) !important;
  }
  .menu-btn {
    display: block;
    margin-left: 15px;
    padding: 0px;
    }
    main {
        display: grid;
        grid-gap: 0.4rem;
        height: 90vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.4fr 2.2fr;
        grid-template-areas: 
            "header"
            "filter-area"
            "main-content";
    }
    .filter-area {
        grid-area: filter-area;
        background: #fff;
        border: 1px solid grey;
        margin: 0.4rem;
        flex-direction: row;
        flex-wrap: wrap;
        height: 165px;
    }
    .filter-section {
        margin-right: 0.8rem;
    }

}