*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-size: 14px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'Poppins';
    overflow: hidden;
}